body{
    background-color: #000000;
    width: auto;
    height: 100%;
}
.jumbotron{
    background-color: #000000;
    color: #ffffff;
    margin: auto;
}
footer{
    width: 100%;
    margin: auto;
}
footer div p{
    text-align: center;
}
footer .row{
    padding-top: 15px;
}
.botn{
    margin: auto;
}